#todo-list  {
    height: 4rem;
    width: 16rem;
    background-color: rgb(15 23 42);
    border-radius: 0.5rem;
    text-align: center;
    padding: 1.25rem;
    margin: 1.25rem;
    overflow: hidden;
}

#list-name  {
    color: white;
}