#todo-list  {
    height: 4rem;
    width: 16rem;
    background-color: rgb(15 23 42);
    border-radius: 0.5rem;
    text-align: center;
    padding: 1.25rem;
    margin: 1.25rem;
    overflow: hidden;
}

#todo-list:hover    {
    box-shadow: 5px 5px 15px black;
}

#list-name  {
    color: white;
}

#header {
    z-index: 2;
}

#container {
    z-index: 1;
}

#add    {
    z-index: 2;
}

@media (min-width: 640px) {
    #todo-list {
        width: 28rem;
    }
}

@media (min-width: 768px) {
    #todo-list {
        width: 35rem;
    }
}

@media (min-width: 1024px) {
    #todo-list {
        width: 47rem;
    }    
}

@media (min-width: 1280px) {
    #todo-list {
        width: 60rem;
    }
}

@media (min-width: 1536px) {
    #todo-list {
        /* width: 73rem; */
        width: 91rem;
    }    
}